a.footer-linkedin:link,
a.footer-github:link {
  color: black;
  text-decoration: none;
}

a.footer-linkedin:visited,
a.footer-github:visited {
  color: black;
  text-decoration: none;
}

a.footer-linkedin:hover,
a.footer-github:hover {
  background: #a9a8df;
}

a.howard:link {
  text-decoration: none;
}

a.howard:visited {
  color: black;
  text-decoration: none;
}

a.howard:hover {
  font-weight: bold;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 99.6%;
}

p.about-me {
  display: inline-block;
  text-align: left;
  max-width: 600px;
  font-size: x-large;
}

mark {
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
  background-color: #d0f3a2;
}

#zoom {
  transition: transform .2s;
  width: 25%;
  height: 25%;
  margin: 0 auto;
}

#zoom:hover {
  transform: scale(1.75);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}