a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  background: #a9a8df;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 99.6%;
}

p.about-me {
  display: inline-block;
  text-align: left;
  max-width: 600px;
  font-size: x-large;

}