a.footer-linkedin:link,
a.footer-github:link {
  color: black;
  text-decoration: none;
}

a.footer-linkedin:visited,
a.footer-github:visited {
  color: black;
  text-decoration: none;
}

a.footer-linkedin:hover,
a.footer-github:hover {
  background: #a9a8df;
}

a.howard:link {
  text-decoration: none;
}

a.howard:visited {
  color: black;
  text-decoration: none;
}

a.howard:hover {
  font-weight: bold;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 99.6%;
}

p.about-me {
  display: inline-block;
  text-align: left;
  max-width: 600px;
  font-size: x-large;
}

mark {
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
  background-color: #e9c67a;
}

#zoom {
  transition: transform .6s;
  width: 25%;
  height: 25%;
  margin: auto;
}

#zoom:hover {
  transform: scale(1.75);
}

div {
  display: none;
}

#fade-1,
#fade-2,
#fade-3,
#fade-4 {
  z-index: 1;
}

#particles-js {
  position: fixed;
  background: rgb(127, 179, 187);
  width: 105%;
  height: 105%;
  z-index: -1;
  margin-left: -1em;
  margin-top: -1em;
}